---
<h1 style="text-align: center;">EXERCÍCIO APLICADO 1:</h1>
<h2 style="text-align: center;">Montando um portfólio "a la Trump" para 2017</h2>

*Discentes*

    *   Gabriel D'assumpção de Carvalho

*Data:* 07/06/2024

---
---

In [1]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [24]:
d_wallet = {"BAC": 10000, "C": 10000, "FCAU.VI": 2000, "PNR": 8000, "LRCX": 5000, 'PANW':5000,'CHKP': 5000, 'MTN': 5000, 'WMB':5000, 'SU':5000,'XME':10000,'NEM':5000, 'BTG':5000, 'CELG':2000, 'VAR':2000, 'UNH': 6000, 'PRNDY':2000, 'SHEL': 2000, 'GSK':2000, 'SONY': 4000}
t_equity = sum(d_wallet.values())
w_a = [w / t_equity for w in d_wallet.values()]

In [21]:
print(f'Total Invested: {t_equity}')
print(f'Weigth for activities: {w_a}')

Total Invested: 100000
Weigth for activities: [0.1, 0.1, 0.02, 0.08, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.1, 0.05, 0.05, 0.02, 0.02, 0.06, 0.02, 0.02, 0.02, 0.04]

In [22]:
# Getting strat and end date
sdate= "2016-12-31"
edate = "2017-12-31"

In [43]:
df_wallet = yf.download(list(d_wallet.keys()), start=sdate, end=edate, progress=False)[['Close','Adj Close', 'Volume']]
df_wallet = pd.DataFrame(df_wallet)
df_wallet.head()

2 Failed downloads:
['CELG', 'VAR']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')

Price           Close                                                      \
Ticker            BAC   BTG          C CELG       CHKP FCAU.VI        GSK
Date
2017-01-03  22.530001  2.53  60.590000  NaN  84.570000     NaN  38.840000
2017-01-04  22.950001  2.54  61.410000  NaN  84.919998     NaN  39.090000
2017-01-05  22.680000  2.78  60.340000  NaN  86.660004     NaN  39.730000
2017-01-06  22.680000  2.71  60.549999  NaN  87.239998     NaN  39.380001
2017-01-09  22.549999  2.70  60.220001  NaN  87.199997     NaN  39.430000

Price                                          ...     Volume             \
Ticker            LRCX         MTN        NEM  ...       PANW        PNR
Date                                           ...
2017-01-03  107.260002  160.979996  34.630001  ...  3411300.0  1901900.0
2017-01-04  107.320000  162.259995  34.959999  ...  4809000.0  1524140.0
2017-01-05  107.080002  163.639999  36.570000  ...  9855300.0  1234083.0
2017-01-06  107.599998  164.470001  35.419998  ...  8682300.0  1014158.0
2017-01-09  108.860001  161.729996  35.360001  ...  4506300.0  1300790.0

Price                                                                \
Ticker        PRNDY       SHEL       SONY         SU        UNH VAR
Date
2017-01-03  86900.0  5647968.0   894900.0  2842100.0  3539700.0 NaN
2017-01-04  19900.0  3916628.0   910500.0  1779600.0  2695200.0 NaN
2017-01-05  45200.0  3310273.0  1027500.0  1905700.0  2961100.0 NaN
2017-01-06  49700.0  2235492.0   964800.0  1846600.0  3081300.0 NaN
2017-01-09  58100.0  3618892.0   648700.0  2458100.0  3040800.0 NaN

Price
Ticker            WMB        XME
Date
2017-01-03  5750600.0  3127000.0
2017-01-04  4273900.0  5998900.0
2017-01-05  7443700.0  4145100.0
2017-01-06  5847100.0  4203100.0
2017-01-09  6145300.0  3032000.0

[5 rows x 60 columns]

In [46]:
ret_adj = df_wallet['Adj Close'].pct_change()
ret_adj.head()

C:\Users\Gabriel Carvalho\AppData\Local\Temp\ipykernel_11012\1273415720.py:1: FutureWarning: The default fill_method='pad' in DataFrame.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  ret_adj = df_wallet['Adj Close'].pct_change()

Ticker,BAC,BTG,C,CELG,CHKP,FCAU.VI,GSK,LRCX,MTN,NEM,PANW,PNR,PRNDY,SHEL,SONY,SU,UNH,VAR,WMB,XME
Date,,,,,,,,,,,,,,,,,,,,
2017-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-04,0.018642,0.003953,0.013534,NaN,0.004139,NaN,0.006437,0.000559,0.007951,0.009529,0.008350,0.003451,0.008411,0.010141,0.010251,0.004862,0.002849,NaN,-0.003179,0.036668
2017-01-05,-0.011765,0.094488,-0.017424,NaN,0.020490,NaN,0.016372,-0.002236,0.008505,0.046052,0.031016,-0.001375,0.019463,0.008785,0.004899,0.007257,0.001668,NaN,0.012118,0.013342
2017-01-06,0.000000,-0.025180,0.003480,NaN,0.006693,NaN,-0.008809,0.004856,0.005072,-0.031446,0.023339,-0.001033,0.001364,-0.008530,0.008357,0.000901,0.001418,NaN,0.021424,-0.026332
2017-01-09,-0.005732,-0.003690,-0.005450,NaN,-0.000459,NaN,0.001269,0.011710,-0.016660,-0.001694,-0.009848,-0.024823,0.007717,-0.021330,-0.004834,-0.013797,-0.002833,NaN,-0.015114,-0.013522

In [49]:
ret_adj = (df_wallet['Adj Close'].diff() / df_wallet['Adj Close'].shift(1)).dropna()
ret_adj.head()

Empty DataFrame
Columns: [BAC, BTG, C, CELG, CHKP, FCAU.VI, GSK, LRCX, MTN, NEM, PANW, PNR, PRNDY, SHEL, SONY, SU, UNH, VAR, WMB, XME]
Index: []